
body{
  background: $mainHeaderColor;
}
.home{
  background: $mainFontColor;
}
header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  font-family: $mainFont;
  font-weight: 700;
  font-size: 3rem;
  padding: 50px 50px 20px 50px;
  text-align: center;
  color: $mainFontColor;
}
.logo{
  height: 60px;
  width: 150px;
  background: url('/development/images/ikea-logo.f7d9229f806b59ec64cb.svg') center/cover;
}
.title{
  transform: translate(950%, 750%);
  max-width: 200px;
  position: absolute;
    font-family: $mainFont;
    font-weight: 700;
    font-size: 2rem;
    color: $mainHeaderColor;
}
.map{
  &_container{
    position: relative;
    margin: 0 170px 0 170px;
    width: 1088px;
    height: 616px;
    background: url("/development/images/map1920.png") no-repeat;
    background-size: contain;

  }
  &_btn{
    text-decoration: none;
    color: $mainHeaderColor;
    font-family: $mainFont;
    font-size: 1.3rem;
    font-weight: 500;
    transition: all 0.4s;
    opacity: 0.75;
    position: absolute;
    &_k8{
      transform: translate(550%, 700%);
      max-width: 100px;
    }
    &_k10{
      transform: translate(600%, 1600%);
      max-width: 100px;
    }
    &_k11{
      transform: translate(1000%, 300%);
      max-width: 100px;

    }
    &_k9{
      transform: translate(2100%, 300%);
      max-width: 100px;

    }
    &_k7{
      transform: translate(2200%, 1600%);
      max-width: 100px;

    }
    &_k4{
      transform: translate(2200%, 2600%);
      max-width: 100px;

    }
    &_k2{
      transform: translate(3000%, 2600%);
      max-width: 100px;

    }
    &_k0{
      transform: translate(2900%, 1950%);
      max-width: 100px;

    }
    &_kv1{
      transform: translate(1000%, 1950%);
      max-width: 100px;

    }
    &_kv5{
      transform: translate(1000%, 1300%);
      max-width: 100px;
    }
  }

}
.map_btn:hover{

  opacity: 0.5;
  color: black;
  background: white;
  border-radius: 3px;
}
.footer_base{
  height: 30px;
}