.main_picture_k1{
  background: url("/development/images/k1.png") no-repeat;
  background-size: contain;
  height: 590px;
  width: 960px;
  margin: 0 0 0 20rem;
}
.dot_1_k1{
  transform: translate(120%,30%);
}

.dot_1_k1 .dot_picture{
  background: url("/development/images/blendaskrzynk1.jpg") no-repeat;
  background-size: contain;
  height: 450px;
  width: 340px;
  border: 5px solid white ;
}
.dot_2_k1{
  transform: translate(10%,10%);

}
.dot_2_k1 .dot_picture{
  background: url("/development/images/panelziemiak1.jpg") no-repeat;
  background-size: contain;
  height: 450px;
  width: 340px;
  border: 5px solid white ;

}
.dot_3_k1{
  transform: translate(150%,20%);
}
.dot_3_k1 .dot_picture{
  background: url("/development/images/okapk1.jpg") no-repeat;
  background-size: contain;
  height: 260px;
  width: 340px;
  border: 5px solid white ;
}
.dot_info_2_k1{
  opacity: 0;
  transition: all 0.3s;
  transform: translatex(-110%);
}
.dot:hover + .dot_info_2_k1 {
  opacity: 1;

}